body {
    background-color: #222;
}

nav.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

#content {
    background-color: white;
    min-height: 75vh;
    padding: 15px;
}

#footer {
    padding-top: 25px;
    margin: 20px;
    color: #9d9d9d;
}
