body {
    background-color: #90caf9;
}

nav,
.nav-wrapper {
    background-color: #90caf9;
}

nav.navbar {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0px 5px 8px #333;
    z-index: 10;
}

.jumbotron {
    margin-top: 0;
    padding-top: .67em;
    margin-bottom: 0;
    padding-bottom: .67em;
    color: #fefefe;
    text-align: center;
    background-image: url("../imgs/auction.jpg");
    background-size: 100vw 100%;
    min-height: 75vh;
    text-align: center;
}

.jumbotron .valign {
    width: 100%;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron a {
    background-color: #ff9100;
}
.jumbotron a.btn-large:hover {
    background-color: #ffab40;
}

.banner-image {
    background-image: url("../imgs/factory1.jpg");
    -webkit-filter: blur(6px);
}

.brand-logo {
    padding-left: 15px !important;
}

#logo {
    max-width: 3vw;
    max-height: 3vh;
}

@media(min-width: 992px) {
    #flex-container {
        display: flex;
    }
}

#lead-header,
#service-header {
    color: white;
    min-height: 50vh;
}

#lead-header p,
#service-header p {
    font-size: 1.2em;
}

#service-header {
    background-color: #ff6d00;
    color: #313131;
}

#service-header .container {
    height: 50vh;
}

#service-header .material-icons {
    font-size: 5em;
}

#service-header .services .col {
    height: 100%;
}

#service-header .row {
    display: flex;
}
#service-header .col {
    flex: 1;
}

#tab-col,
#tab-col .tabs,
#tab-col .tab {
    min-height: 7vh;
}

#tab-col ul.tabs {
    overflow: hidden;
}

#tab-col,
#assets-panel,
#auction-panels {
    padding: 0;
}

#tab-col .tabs .indicator {
    background-color: #ff9100;
    height: 8px;
}

#tab-col .tab {
    background-color: #2196f3;
    font-size: 1.25em;
}

#tab-col .tab a {
    color: #efefef;
}

#auction-panels,
#assets-panel {
}

#auction-panels > .card,
#assets-panel > .card {
    margin: 0;
    background-color: inherit;
}

#auction-panels .feature-auction .card-title {
    font-size: 3em;
}

.card.large .card-image {
    height: 75%;
    max-height: 75%;
}

#footer {
    padding-top: 25px;
    margin: 20px;
    color: #9d9d9d;
}

footer.page-footer {
    background-color: inherit;
    padding-top: 0;
    margin-top: 0;
}
